@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
}

.sidebar-container {
    background-image: url("casey-horner-space-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 50%;
}

.logo-container {
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    bottom: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image{
    max-height: 150px;
    max-width: 150px;
}

.logo-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    color: white;
    max-width: 100px;
}

.background-caption, .background-caption a {
    color: white;
    text-align: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}

.hero-header, .form-container, .button-container, .login{
    padding-left: 40px;
    padding-right: 200px;
}

.hero-header {
    font-weight: bold;
    margin-bottom: 40px;    
}

.form-container {
    background-color: white;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    min-height: 300px;
    margin-bottom: 30px;
    padding-top: 10px;
}

.form-container h3 {
    line-height: 0%;
    margin-bottom: 40px;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-row label {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 0.1em;
}

.form-row input{
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 250px;
    padding: 7px;
    font-size: 14px;
}

.form-row input:focus {
    box-sizing: content-box;
    border: 1px solid rgb(93, 93, 244);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}


.form-row input[type='password']:invalid {
    box-sizing: content-box;
    border: 1px solid rgb(232, 59, 59);
}

.input-label-pair{
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    padding-bottom: 40px;
}

.error {
    width: 100%;
    padding: 4px;

    font-size: 80%;
    color: rgb(232, 59, 59);

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.error.success {
    color: rgb(30, 222, 30);
}

.submit-button {
    padding: 10px 60px;

    color: #fff;
    background-color: #555;

    font-size: 16px;
    font-weight: bold;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: 10px;

    cursor: pointer;

    margin-bottom: 20px;
}
